extends layout

block content
  h1= title
  p API 1: /api/getuser method: GET response: json
  p API 2: /api/overview method: GET response: json
  p API 3: /api/overview method: PUT response: json
  p API 4: /api/kmo method: GET response: json
  p API 5: /api/kmo method: PUT response: json
  p API 6: /api/gap method: GET response: json
  p API 7: /api/gap method: PUT response: json
