<div class="container">
    <div class="row">
        <header>
            <div class="col-md-8 col-sm-4">
                <img src="favicon.ico">
            </div>
            <div class="col-md-2 col- sm-4">
                <p>User Name: {{userName}}</p>
            </div>
            <div class="col-md-2 col-sm-4">
                date
            </div>
        </header>
    </div>
    <div class="row">
        <nav>
            <div class="col-md-4 col-sm-4">Medical Plan
            </div>
            <div class="col-md-4 col-sm-4">ETF
            </div>
            <div class="col-md-4 col-sm-4">Plan
            </div>
        </nav>
    </div>
    <div class="row">
        <ui-view></ui-view>
    </div>
    <div class="row">
        Blizzhujiechen
    </div>
</div>
