<div class ="the-div">
<div class ="row">
  <nav class = "secondlevelnav">
    <div >
    <a class= "col-md-2" class= "col-sm-2" href="#">Overview</a>
    <a class= "col-md-2" class= "col-sm-2" href="#">Kmo</a>
    <a class= "col-md-2" class= "col-sm-2" href="#">Gap</a>
    <a class= "col-md-2" class= "col-sm-2" href="#">Portfolio</a>
    <a class= "col-md-2" class= "col-sm-2" href="#">Project detail</a>
    <a class= "col-md-2" class= "col-sm-2" href="#">Report</a>
    </div>
  </nav>
  <ui-view></ui-view>
</div>

