
    <div class="row">
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation" class="col-md-2"><a href="/html/">Overview</a></li>
                <li role="presentation" class="col-md-2"><a href="/css/">mko</a> </li>
                <li role="presentation" class="col-md-2"><a href="/js/">app</a> </li>
                <li role="presentation" class="col-md-2"><a href="/jquery/">protfolio</a></li>
                <li role="presentation" class="col-md-2"><a href="/js/">project detail</a> </li>
                <li role="presentation" class="col-md-2"><a href="/jquery/">report</a></li>
            </ul>
        </nav>
        <ui-view></ui-view>
    </div>


