
<ul class="nav nav-tabs secnav">
  <li role="presentation" class="active col-md-2"><a href="#">Overview</a></li>
  <li role="presentation" class="col-md-2"><a href="#">mko</a></li>
  <li role="presentation" class="col-md-2"><a href="#">app</a></li>
  <li role="presentation" class="col-md-2"><a href="#">protfolio</a></li>
  <li role="presentation" class="col-md-2"><a href="#">project detail</a></li>
  <li role="presentation" class="col-md-2"><a href="#">report</a></li>

</ul>
<ui-view></ui-view>